{{define "_pageHeader"}}
<!DOCTYPE html>
<html>
<head>
	{{template "_fathomTrackingCode"}}
	<title>{{if .Title}}{{.Title}} - {{end}}jphotos</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
	{{template "_versionBanner" .}}
	<div class="container">
		<header>
			<h1 class="page-title">
				{{if .Title}}{{.Title}} - {{end}}jphotos
			</h1>
			{{template "navigation" .Auth}}
		</header>
		<div class="content">
{{end}}

{{define "_photoPageHeader"}}
<!DOCTYPE html>
<html>
<head>
	{{template "_fathomTrackingCode"}}
	<title>View Photo - jphotos</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
	{{template "_versionBanner" .}}
	<div class="photo-container">
{{end}}

{{define "_legalNotices"}}
			<div id="footer">
			<div class="small-text text-muted">
				&copy; 2020 Matthew Jorgensen. All Rights Reserved.
			</div>
			<div class="small-text text-muted">
				<a href="https://github.com/prplecake/jphotos">Source Code</a>
			</div>
			</div>
{{end}}

{{define "_pageFooter"}}
		{{template "_legalNotices"}}
		</div>
	</div>
</body>
</html>
{{end}}

{{define "_photoPageFooter"}}
	</div>
</body>
</html>
{{end}}

{{define "_fathomTrackingCode"}}
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://catfish.jrgnsn.net/script.js" site="MTMMMTVL" excluded-domains="localhost" defer></script>
<!-- / Fathom -->
{{end}}

{{define "_versionBanner"}}
<div id="current-version">
	{{.Version}} [{{.Branch}}]
</div>
{{end}}