<!DOCTYPE html>
<html>
<head>
	<title>{{.Album.Name}} - jphotos</title>
</head>
<body>
	<h1>{{.Album.Name}} - jphotos</h1>
	{{if .Auth}}
		<form method="post" action="/album/{{.Album.Slug}}/delete">
			<input type="submit" value="DELETE ALBUM" class="text-danger"
				href="/album/{{.Album.Slug}}/delete" />
		</form><br />
		<form method="post" action="/album/{{.Album.Slug}}/manage">
			<label for="new_name"> Rename album: <br />
				<input type="text" name="new_name" id="new_name" />
			</label>
			<input type="submit" value="Rename album" />
	{{end}}
	{{if .Photos}}
		{{range .Photos}}
		<p>
			<a href="/photo/{{.ID}}">
				<img src="/{{.Location}}" alt="{{.Caption}}" height="250px" />
			</a><br />
			{{.Caption}}
		{{end}}
	{{else}}
	<p>No photos.</p>
	{{end}}

	{{if .Auth}}
	<form enctype="multipart/form-data" action="/upload" method="POST">
		<label for="photoFiles">Photos: 
			<input type="file" id="photoFiles" name="photoFiles" multiple/>
		</label><br />
		<label for="caption">Caption: 
			<input type="text" id="caption" name="caption" />
		</label><br />
		<input type="submit" value="Upload & Add to Album" />
		<input type="hidden" name="album-id" value="{{.Album.ID}}" />
		<a href="/album/{{.Album.Slug}}/manage">manage this album</a>
	</form>
	{{end}}
</body>
</html>