<!DOCTYPE html>
<html>
<head>
	<title>{{.Album.Name}} - jphotos</title>
</head>
<body>
	<h1>{{.Album.Name}} - jphotos</h1>
	{{if .Photos}}
	<ul>
		{{range .Photos}}
		
		<p>
			<!--<a href="/photo/{{.ID}}">-->
			<a href="{{.Location}}">
				<img src="{{.Location}}" alt="{{.Caption}}" height="250px" />
			</a><br />
			{{.Caption}}
		{{end}}
	</ul>
	{{else}}
	<p>No photos.</p>
	{{end}}

	{{if .Auth}}
	<form enctype="multipart/form-data" action="/upload" method="POST">
		<label for="photoFiles">Photos: 
			<input type="file" id="photoFiles" name="photoFiles" multiple/>
		</label><br />
		<label for="caption">Caption: 
			<input type="text" id="caption" name="caption" />
		</label><br />
		<input type="submit" value="Upload & Add to Album" />
		<input type="hidden" name="album-id" value="{{.Album.ID}}" />
	</form>
	{{end}}
</body>
</html>