{{template "_pageHeader" .Title}}
{{if .Auth}}
<details class="manage">
	<summary>manage this album</summary>
	{{template "deleteAlbumForm" .Album}}
	{{template "renameAlbumForm" .Album}}
	{{template "uploadPhotoForm" .Album}}
</details>
{{end}}
<div class="album-content">
	{{if .Photos}}
	{{range .Photos}}
	<div class="photo-item">
		<a href="/photo/{{.ID}}">
			<img src="/t/thumb_{{.Location}}" alt="{{.Caption}}" />
		</a><br />
		<div class="photo-caption">{{.Caption}}</div>
	</div>
	{{end}}
	{{else}}
	<p>No photos.</p>
	{{end}}
</div>
{{template "_pageFooter"}}

{{define "renameAlbumForm"}}
	<div><form method="post" action="/album/{{.Slug}}/manage">
		<input class="form-control" type="text" name="new_name"
			id="new_name" required/>
		<button class="btn" type="submit">Rename album</button>
	</form></div>
{{end}}

{{define "deleteAlbumForm"}}
<details class="delete">
	<summary class="btn btn-danger">Delete album</summary>
	<form method="post" action="/album/{{.Slug}}/delete">
		<button class="btn btn-danger" type="submit">
			YES, delete {{.Name}}
		</button>
	</form>
</details>
{{end}}

{{define "uploadPhotoForm"}}
<form enctype="multipart/form-data" action="/upload" method="POST">
	<label for="photoFiles">Photos: 
		<input class="form-control" type="file" id="photoFiles"
			name="photoFiles" accept="image/*" multiple />
	</label><br />
	<input class="form-control" type="text" id="caption"
		name="caption" placeholder="caption" /><br />
	<input class="btn btn-primary" type="submit" value="Upload & Add to Album" />
	<input type="hidden" name="album-id" value="{{.ID}}" />
</form>
{{end}}