{{template "_pageHeader" .Title}}
{{if .Auth}}
<details class="manage">
	<summary>manage this album</summary>
	<form method="post" action="/album/{{.Album.Slug}}/delete">
		<input class="btn btn-danger" type="submit" value="Delete album"
		href="/album/{{.Album.Slug}}/delete" />
	</form><br />
	<form method="post" action="/album/{{.Album.Slug}}/manage">
		<label for="new_name">
			<input class="form-control" type="text" name="new_name" id="new_name" />
			rename album
		</label><br />
		<input class="btn" type="submit" value="Rename album" />
	</form><br />
	{{template "photoUploadForm" .Album}}
</details>
{{end}}
<div class="album-content">
	{{if .Photos}}
	{{range .Photos}}
	<div class="photo-item">
		<a href="/photo/{{.ID}}">
			<img src="/t/thumb_{{.Location}}" alt="{{.Caption}}" />
		</a><br />
		<div class="photo-caption">{{.Caption}}</div>
	</div>
	{{end}}
	{{else}}
	<p>No photos.</p>
	{{end}}
</div>
{{template "_pageFooter"}}

{{define "photoUploadForm"}}
<form enctype="multipart/form-data" action="/upload" method="POST">
	<label for="photoFiles">Photos: 
		<input class="form-control" type="file" id="photoFiles"
			name="photoFiles" accept="image/*" multiple />
	</label><br />
	<label for="caption">Caption: 
		<input class="form-control" type="text" id="caption"
		name="caption" />
	</label><br />
	<input class="btn btn-primary" type="submit" value="Upload & Add to Album" />
	<input type="hidden" name="album-id" value="{{.ID}}" />
</form>
{{end}}