{{template "_pageHeader" .}}

{{if .Auth}}
<div class="create-album">
<div class="create-album-form">
<form method="POST">
	<input class="form-control" type="text" name="name" id="name"
		placeholder="new album" required />
	<button class="btn btn-primary" type="submit">Create album</button>
</form>
</div>
{{if .Errors}}
<div class="create-album-errors text-danger">
	{{range .Errors}}
	<p>{{.}}</p>
	{{end}}
</div>
{{end}}
</div>
{{end}}

<h2>All Albums</h2>

{{if .Albums}}
<div class="album-list">
	{{range .Albums}}
	<a href="/album/{{.Slug}}" class="album-list-item btn">
		{{.Name}}
	</a>
	{{end}}
</div>
{{else}}
<p class="error">No albums. Check back later.</p>
{{end}}

{{template "_pageFooter"}}