{{template "_pageHeader" .}}
	{{if .Error}}
	<span style="color:red;">{{.Error}}</span>
	{{end}}
	<div id="login-form">
		<form {{if .Next}} action="/login?next={{.Next}}" {{end}} method="POST">
			<label for="username">Username: 
				<input class="form-control" type="text" name="username"
				id="username" value="{{.Username}}" />
			</label><br />
			<label for="password">Password: 
				<input class="form-control"type="password" name="password"
				id="password" />
			</label><br />
			<input class="btn btn-primary" type="submit" value="Login" />
		</form>
	</div>
{{template "_pageFooter"}}